# Folders to ignore
.idea
target
cmake*
CMakeFiles
.settings
.latex
nbproject

# Files to ignore
vgscore.*
**.iml
**.project
**.classpath
**.cmake
**.o
Makefile
CMakeCache.txt
SourceFiles
**.synctex.gz
**.latex.*
**.pdf
